* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #002B5B;
    color: white;
    height: 200px;
    padding: 1px 0;
    text-align: center;
   
}

.container{
    display: flex;
}

header .left{
    flex: 1;
}

header .right img{
    height: 199px;
    width: 200px;
    border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
     box-shadow: -5px -5px 10px rgb(252, 250, 250);

}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1rem;
    font-style: italic;
}

.contact p {
    margin: 5px 0;
    font-size: 0.95rem;
}

.contact a {
    color: #FFD700;
    text-decoration: none;
}

section {
    padding: 40px 10%;
    background: white;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.1);
    width: 80%;
}

h2 {
    color: #002B5B;
    border-bottom: 2px solid #002B5B;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

h3 {
    color: #004080;
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #002B5B;
    color: white;
    font-size: 0.9rem;
}